---
import blog from "@scripts/blog";
import RootLayout from "@layouts/RootLayout.astro"
import Section from "@features/components/Section.astro";

import "@styles/article.css"

export async function getStaticPaths() {
    const posts = await blog.getAllPosts();

    return posts.map((post) => ({
        params: { slug: post.slug },
    }))
}

const { slug } = Astro.params;

const post = (await blog.getPostBySlug(slug))!;
const { Content, headings } = await post.render();

// Format publication date to YYYY-MM-DD string
const publicationDate = post.data.publicationDate.toISOString().slice(0, 10);
---

<RootLayout
    title={post.data.title}
    breadcrumbs={[
        { title: "home", href: "/" },
        { title: "blog", href: "/blog" },
        { title: post.slug, href: `/blog/${post.slug}` },
    ]}
>
    <Section title="// 03.xx.01 Title">
        <div class="flex flex-col gap-1">
            <h1 class="text-3xl font-semibold">{post.data.title}</h1>
            <p class="text-sm text-gray">{publicationDate} | {post.data.author}</p>
        </div>
    </Section>

    <Section title="// 03.xx.02 Table of content">
        <ol class="list-decimal list-inside">
            {headings.map((heading) => (
                <li><a href={`/blog/${post.slug}#${heading.slug}`} class="hover:font-semibold">{heading.text}</a></li>
            ))}
        </ol>
    </Section>

    <Section title="// 03.xx.03 Article">
        <article id="article">
            <Content/>
        </article>
    </Section>
</RootLayout>
