---
import RootLayout from "../layouts/RootLayout.astro";
import Section from "../features/components/Section.astro";
import Shield from "../features/components/Shield.astro";

const links = {
	upwork: "https://www.upwork.com/freelancers/~013f291d0612995d23?mp_source=share",
	github: "https://github.com/pkwasniok",
	linkedin: "https://www.linkedin.com/in/patryk-kwa%C5%9Bniok-728614215/",
	twitter: "https://x.com/pkwasniok",
}

const contact = {
	email: "kwasniokpatryk@gmail.com",
	discord: "pkwasniok",
	signal: "pkwasniok.42",
}
---

<RootLayout title="Blog">
	<Section title="// 01 Links">
		<div class="flex flex-row items-center gap-2 flex-wrap">
			<Shield icon="upwork" href={links.upwork}>Upwork</Shield>
			<Shield icon="github" href={links.github}>Github</Shield>
			<Shield icon="linkedin" href={links.linkedin}>Linkedin</Shield>
			<Shield icon="x" href={links.twitter}>Twitter</Shield>
		</div>
	</Section>

	<Section title="// 02 About">
		<p class="text-justify">
			Hello! My name is Patryk and I’m software developer from Poland. I mostly work
			with javascript-based technologies like React and Node but I also have some
			experience in dekstop applications and embedded systems.
		</p>
	</Section>

	<Section title="// 03 Contact">
		<div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
			<div class="flex flex-col items-start">
				<div class="text-sm">Email</div>

				<div
					title="Click to copy"
					onclick={"navigator.clipboard.writeText(this.innerText)"}
					class="flex flex-row items-center gap-2 hover:font-semibold cursor-pointer active:font-normal"
				>
					{contact.email}
				</div>
			</div>

			<div class="flex flex-col items-start">
				<div class="text-sm">Signal</div>
				<div
					title="Click to copy"
					onclick={"navigator.clipboard.writeText(this.innerText)"}
					class="flex flex-row items-center gap-2 hover:font-semibold cursor-pointer active:font-normal"
				>
					{contact.signal}
				</div>
			</div>

			<div class="flex flex-col items-start">
				<div class="text-sm">Discord</div>
				<div
					title="Click to copy"
					onclick={"navigator.clipboard.writeText(this.innerText)"}
					class="flex flex-row items-center gap-2 hover:font-semibold cursor-pointer active:font-normal"
				>
					{contact.discord}
				</div>
			</div>
		</div>
	</Section>
</RootLayout>
