---
interface Props {
    title?: string;
    breadcrumbs: { title: string, href: string }[];
}

const props = Astro.props;

let title = "Patryk Kwaśniok"
if (props.title != undefined) {
    title = `${props.title} | Patryk Kwaśniok`
}
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    </head>

    <body class="min-h-[100vh] flex flex-col items-center p-4 bg-black text-gray-200">
        <header class="max-w-[800px] w-full flex flex-row items-center justify-between">
            <a href="/">
                <h1 class="text-3xl font-bold">Patryk Kwaśniok</h1>
                <p class="uppercase font-bold">Software developer</p>
            </a>
        </header>

        <div class="max-w-[800px] w-full text-xs mt-1 text-gray-400">
            {props.breadcrumbs.map((breadcrumb) => (
                <a href={breadcrumb.href} class="hover:font-semibold">{breadcrumb.title}</a><span>{"/"}</span>
            ))}
        </div>

        <div class="min-h-14"/>

        <main class="max-w-[800px] w-full flex flex-col items-start gap-14">
            <slot/>
        </main>

        <div class="flex-1 min-h-14"/>

        <footer class="max-w-[800px] w-full text-xs text-gray-400">
            <p>Powered by 🧉</p>
            <p>Patryk Kwaśniok © 2024</p>
        </footer>
    </body>
</html>

<style is:global>
	@font-face {
		font-family: Inconsolata;
		src: url("/fonts/Inconsolata.ttf");
	}
</style>
